{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/chatbot.js' %}"></script>
</head>
<body>
    <section class="home">
        <div class="header">
            <div class="bot-name">INTELLION</div>
            <div class="logo"></div>
        </div>
        <div class="chat-container">
            <div class="sidebar">
                <div class="tab active" data-tab="programs">Programs</div>
                <div class="tab" data-tab="certification">Certification</div>
                <div class="tab" data-tab="centers">Centers</div>
                <div class="tab" data-tab="learning-center">Learning Center</div>
            </div>
            <div class="chat-area">
                <div class="messages"></div>
                <div class="avatar-templates" style="display:none;">
                    <img id="programs-avatar" src="/static/images/character_logo.jpg" class="avatar rounded">
                    <img id="certification-avatar" src="/static/images/character_logo.jpg" class="avatar rounded">
                    <img id="centers-avatar" src="/static/images/character_logo.jpg" class="avatar rounded">
                    <img id="learning-center-avatar" src="/static/images/character_logo.jpg" class="avatar rounded">
                </div>
                <div class="input-area">
                    <input type="text" class="message-input" placeholder="Type your message here...">
                    <button class="send-button">Send</button>
                </div>
            </div>
        </div>
    </section>
</body>
</html>